<!DOCTYPE html>
<html>
<head>
  <title>Détails de l'Utilisateur</title>
</head>
<body>
  <h1>Détails de l'Utilisateur</h1>
  <ul>
    <li><strong>Nom d'utilisateur:</strong> <%= user.username %></li>
    <li><strong>Email:</strong> <%= user.email %></li>
    <li><strong>ID:</strong> <%= user._id %></li>
  </ul>
</body>
</html>
